.djfgbhfbg{
    background-color: violet;
    color: white;
}
.fHfjkahsbmnfg{
    background-color: fuchsia;
    color:greenyellow;
}
.admkAJFA{
    background-color:rgb(130, 0, 0);
    color:lavenderblush;
}
h3{
    background-color: ivory;
    color: lightslategrey;
}
.fsufdshfjb{
    background-color: midnightblue;
    color: olive;
}
.kvcHJvcxvalb{
    background-color: rgb(25, 112, 71);
    margin-left:250px;
    margin: 22px;
}
.vjFKDBSVBBVNXDNJKL{
    background-color: yellow;
    color: tomato;
}
.kshabkvc{
    background-color: rgb(22, 29, 8);
    color:turquoise
}

.sgJGjgnfjjlxnbkgjh{
    margin-left: 25px;
}
.hsflhjnbcjk{
    align :"right";
    margin-right: 25px;
}
